#header {
    color: #4A4A4A;
}

body {
    /* background: white url("images/747.jpg") no-repeat left top; */
}

#buttonCompute {
    margin: auto;
}

.top-offset-input {
    height: 25%;
}

.top-offset-output {
    height: 15%;
}

.mid-offset-output {
    height: 10%;
}

.origin {
    padding-left: 48%;
    font-size: 1.5em;
}

.destination {
    padding-right: 48%;
    font-size: 1.5em;
}

.duration-delay {
    font-size: 1.5em;
}
